{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/catalog/css/css.css') }}">
{% endblock %}

{% block body %}
    <style>
        html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="https://www.w3schools.com/w3images/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>{{ app.user.username }}</strong></span><br>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('adminPanel') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Users</a>
            {% endif %}
            <a href="{{ path('category_crud') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-tasks fa-fw"></i>  Categories</a>
            <a href="{{ path('product_crud') }}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-mobile fa-fw"></i>  Products</a>
        </div>
    </nav>


    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:0px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
        </header>

        <div class="w3-row-padding w3-margin-bottom">
            <div id="grid-table"></div>
        </div>
    </div>

    <script>
        $('#grid-table').gridPlugin({
            columnEdit : false,
            rootURL: 'http://localhost:8000/admin/user/',
            ajaxURL: 'http://localhost:8000/admin/user/ajax',
            sortableColumns: ['id','username'],
            filterableColumns: ['id','username'],
            itemsPerPage: 8
        });
    </script>
{% endblock %}