{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/catalog/css/menu/menu.css') }}">
{% endblock %}

{% block body %}
    <div class="testclass">
        <div id='cssmenu'>
            {{ htmlTree | raw }}
        </div>
    </div>
    <div class="testclass2">
        <form  class="form-inline" style="padding-top: 8px;padding-left: 5px" method="get">
            <div class="form-group">
                <label for="per_page_input">Items per page: </label>
                <input type="text" name="per_page" class="form-control" id="per_page_input">
            </div>
            <button type="submit" value="submit" class="btn btn-default">Go</button>
            <div class="form-group" style="float: right;padding-right: 20px">
                <label for="">Sort by: </label>
                <button class="btn btn-default">{{ knp_pagination_sortable(pagination, 'id', 'p.id') }}</button>
                <button class="btn btn-default">{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</button>
                <button class="btn btn-default">{{ knp_pagination_sortable(pagination, 'CreationTime', 'p.creationTime') }}</button>
            </div>
        </form>
        {% if pagination is defined %}
            <div>
                {% for article in pagination %}
                    <div class="col-md-3">
                        <div class="thumbnail" style="overflow: hidden;height: 400px">
                            <img width="45%" src="{{ relative_path('/uploads/images/') }}{{ article.image }}">
                            <h3>{{ article.name }}</h3>
                            <p>{{ article.description | slice(0,50) }}...</p>
                            <p><a href="/product/{{ article.id }}" class="btn btn-primary" role="button">View</a></p>
                        </div>
                    </div>
                {% else %}
                    <h1 style="text-align: center">Not found products by this category!</h1>
                {% endfor %}
            </div>
            <div class="navigation" style="padding-left: 20px;width: 100%;float: right;">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/catalog/js/menu/menu.js') }}"></script>
{% endblock %}