{% extends 'base.html.twig' %}

{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="row account_wrapper">
    <div class="col-sm-6 account_left">
        <div class="account_section">
            <h4>New here?</h4>
            <p class="note">Registration is free and easy!</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>Best price</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>Big choice</p>
            <p><i class="fa fa-check" aria-hidden="true"></i>Fast buy</p>
            <a href="{{ path('user_registration') }}" class="btn btn-default">Create account</a>
        </div>
    </div>
    <div class="col-sm-6 account_right">
        <div class="account_section">
            <form action="{{ path('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <button class="btn btn-success" type="submit">Sign in</button>
                <a class="forgotpassword" href="{{ path('forgotpassword') }}"> Forgot your password?</a>
            </form>
        </div>
    </div>
    </div>
{% endblock %}